/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* TEXT  */

  .header-1 {
    @apply text-center font-texturina text-slate-800 text-2xl
    lg:text-4xl
  }

  .header-2 {
    @apply text-center font-texturina text-slate-800 text-xl
    lg:text-2xl
  }

  .paragraph {
    @apply text-slate-800 font-texturina text-sm
    lg:text-base
    ;
  }

  .skill-text {
    @apply text-blue-500 font-texturina text-sm
    lg:text-base font-medium
    ;
  }

  .description {
    @apply text-center text-slate-600 font-cinzel text-sm
    lg:text-base
    ;
  }

  /* Elements */

  .background {
    @apply bg-gradient-to-t from-[#A05645] via-[#FFA752] to-[#F9F5F1]
    -z-50 w-screen h-screen absolute bg-fixed;
  }

  .nav-button {
    @apply p-2 items-center content-center align-middle justify-center rounded-md
    flex w-full min-w-fit
    bg-white-500 bg-opacity-10 border border-white-100 shadow-md
    hover:bg-white-500  hover:bg-opacity-60 hover:shadow-lg transition-all ease-in-out
    ;
  }

  .nav-active {
    @apply bg-white-500 bg-opacity-70
    ;
  }

  .nav-link {
    @apply text-center text-slate-800 font-texturina leading-[-4rem]
    ;
  }

  .nav-profile-link {
    @apply text-center text-slate-800 font-texturina leading-[-4rem]
    text-black-300 flex-1
    hover:text-white-500 transition-colors
    ;
  }



  .dummy-icon {
    @apply rounded-full bg-slate-50 h-52 w-52 p-16;
  }


}

@layer utilities {
  .z-50 {
    z-index: 50;
  }
}

@layer base {
  body {
    @apply font-texturina;
  }

  p {
    @apply font-cinzel;
  }
}

