/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* TEXT  */

  .header-1 {
    @apply font-bold text-center font-texturina text-slate-800 text-lg
    lg:text-4xl
  }

  .header-2 {
    @apply font-bold text-center font-texturina text-black-400 text-base
    lg:text-xl md:text-lg
  }

  .header-3 {
    @apply font-bold text-center font-texturina text-black-400 text-xl
    lg:text-2xl
  }

  .header-4 {
    @apply font-bold text-center font-texturina text-black-400 text-lg
    lg:text-xl
  }

  .header-5 {
    @apply font-bold text-center font-texturina text-black-400 text-base
    lg:text-lg
  }

  .header-6 {
    @apply font-bold text-center font-texturina text-black-400 text-sm
    lg:text-base
  }

  .header-7 {
    @apply font-bold text-center font-texturina text-black-400 text-xs
    lg:text-sm
  }

  .header-8 {
    @apply font-bold text-center font-texturina text-black-400 text-xs
    lg:text-sm
  }

  .paragraph {
    @apply text-black-400 font-texturina text-sm
    lg:text-base text-justify
    ;
  }

  .date {
    @apply text-black-400 font-cinzel text-[0.625rem]
  }

  .skill-text {
    @apply text-blue-500 font-texturina text-sm
    lg:text-base font-medium
    ;
  }

  .description {
    @apply text-black-400 font-texturina text-sm
    lg:text-base
    ;
  }

  .caption {
    @apply text-center text-black-400 font-cinzel text-xs
    lg:text-sm font-bold
    ;
  }

  .notebook-title {
    @apply text-start font-firacode text-black-400 text-sm
     lg:text-base font-medium
    ;
  }

  .notebook-description {
    @apply text-justify font-texturina text-black-400 text-xs
    ;
  }

  /* Elements */

  .background {
    @apply bg-gradient-to-t from-[#A05645] via-[#FFA752] to-[#F9F5F1]
    -z-50 w-screen h-screen absolute bg-fixed;
  }

  .nav-button {
    @apply p-2 items-center content-center align-middle justify-center md:rounded-md rounded-full
    flex w-full min-w-fit
    bg-white-500 bg-opacity-10 border border-white-100 shadow-md
    hover:bg-white-500  hover:bg-opacity-60 hover:shadow-lg transition-all ease-in-out
    ;
  }

  .nav-active {
    @apply bg-white-500 bg-opacity-70
    ;
  }

  .nav-link {
    @apply text-center text-slate-800 font-texturina leading-[-4rem]
    ;
  }

  .nav-profile-link {
    @apply flex text-center font-texturina leading-[-4rem] w-full justify-center
    text-black-400 flex-1 p-1
    hover:bg-white-200 hover:bg-opacity-20
    hover:text-white-400 transition-colors
    ;
  }

  .linkIcon {
    @apply w-8 h-8 text-black-400 hover:text-black-300 fill-current stroke-current
  }

  .linkIcon-dark {
    @apply w-8 h-8 text-white-100 fill-current stroke-current
  }
  
  .linkIcon-special {
    @apply w-4 h-4 text-purple-500 fill-current stroke-current
  }

  .dummy-icon {
    @apply rounded-full bg-slate-50 h-52 w-52 p-16;
  }
}

@layer utilities {
  .z-50 {
    z-index: 50;
  }
}

@layer base {
  body {
    @apply font-texturina;
  }

  p {
    @apply font-cinzel;
  }
}

